<div class="container">
  <nav class="navbar navbar-dark bg-inverse">
    {{#link-to 'index' index class="navbar-brand"}}
      Miriam's Blog
    {{/link-to}}
    <ul class="nav navbar-nav">
      <li class="nav-item">
        {{#link-to 'blogs'}}
          Blog
        {{/link-to}}
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        {{#link-to 'about'}}
          About
        {{/link-to}}
      </li>
    </ul>
  </nav>
  <div class="body">
    <div class="container">
      {{outlet}}
    </div>
  </div>
</div>